<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a3e684cd-d89e-4cfb-9d14-58d879fe5949/resourceGroups/Upx/providers/Microsoft.Web/sites/upx4api2022</ResourceId>
    <ResourceGroup>Upx</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://upx4api2022.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>fb2c07f7-c1fc-4dfb-88bb-b876aba9901f</ProjectGuid>
    <PublishUrl>https://upx4api2022.scm.azurewebsites.net/</PublishUrl>
    <UserName>$upx4api2022</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>